{% include header.html %}
<article style='padding-top:200px; padding-bottom: 30px; background-color:#222; background-image: url("assets/headers/amzn-echo-top.jpg"); background-repeat: no-repeat; background-position: center; background-attachment: fixed;'>
  <header class="heading-a">
    <h3 style="color:#eee;">AlexaIO <b>{{ page.title }}</b></h3>
    <p style="color:#ddd;">
      {{ page.quote }}
    </p>
  </header>
</article>

  <main class="main" role="main">

    {{ content }}

  </main>
{% include footer.html %}
